:root {
  --border-style: "Roboto", sanf-serif;
  --color-header: #2196f3;
  --color-1: #212121;
}
body {
  font-family: var(--border-style);
  color: var(--color-1);
  font-style: normal;
  text-decoration: none;
  width: 1600px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.button-portfolio {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background: #f5f4fa;
  border-radius: 4px;
}
.button-portfolio:hover {
  background: #2196f3;
  color: #ffffff;
}
.name-image {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-right: 47px;
}
.web {
  color: #2196f3;
}
.nav {
  color: var(--color-1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-left: 46px;
}
.nav:hover,
.nav:focus {
  color: #2196f3;
}
.kontakt-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}
.kontakt-header:hover,
.kontakt-header:focus {
  color: #2196f3;
}

.background-index {
  background: #2f303a;
  padding: 200px 452px 280px 452px;
  height: 600;
  text-align: center;
}
.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}
.button-index {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background: #2196f3;
  width: 200px;
  height: 50px;
}
.name-index {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.text-index {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.descripition-index {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-image {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team {
  background: #f5f4fa;
}

.position-index {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}
.background-footer {
  background: #2f303a;
  max-width: 1600px;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-left: 215px;
}
.studio-footer {
  color: #ffffff;
}
.adress-kontakt-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 215px;
}
.adress-footer {
  color: #ffffff;
}
.kontakt-footer {
  color: rgba(255, 255, 255, 0.6);
}
.kontakt-footer:hover,
.kontakt-footer:focus {
  color: #2196f3;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.02em;
}
.menu-nav {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 50px;
}
.kont-mail {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: flex-end;
}

.text-lorem {
  display: flex;
  gap: 30px;
}

.images-profil {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.images-team-4 {
  display: flex;
  gap: 30px;
}

ul[class="images-team-4"] > li {
  text-align: center;
  background-color: #ffffff;
}
.web-nav-portfolio {
}
.button-nav-port {
  max-width: 1200px;
}
.buttons-port {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.image-project-port {
  max-width: 1200px;
}
.image-portfolio {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.section {
  padding: 94px 0 94px 0;
}
